@{
    ViewBag.Title = "Home Page";
}

<h1>Results</h1>

@if (ViewBag.Entries.Length == 0)
{
    <p>No results</p>
}
else
{
    <table>
        <tr><th>Timestamp</th><th>Id</th><th>Thread</th><th>Entry</th><th>CurrentPrincipal</th></tr>
        @foreach (var entry in ViewBag.Entries)
        {
            <tr><td>@entry.FormattedTimestamp</td><td>@entry.FormattedId</td><td>@entry.ThreadId</td><td>@entry.Message</td><td>@entry.FormattedPrincipal</td></tr>
        }
    </table>
    <p>
        @using (Html.BeginForm("Reset", "Home"))
        {
            <input type="submit" value="Reset" />
        }
    </p>
}
